{% extends 'base.html' %}
{% block title %}Supprimer produit{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-danger">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Supprimer un produit</h4>
            </div>
            <div class="card-body">
                <p>Voulez-vous vraiment supprimer le produit <strong>{{ produit.design }}</strong> ?</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'produit_list' %}" class="btn btn-secondary">Annuler</a>
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> Supprimer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}